h1{


font-size: 30px;
text-decoration-thickness: 4px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-style: italic;

}

body{
   height: 200vh;
    background-image: url("background-images/peakpx\(1\).jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: 100% 100%;
   background-attachment: scroll;
   background-size: cover;
    color: rgb(207, 210, 4);


    /* background-color: #cccccc; */
   }

